/* full page */
@import url('https://fonts.googleapis.com/css?family=Chilanka&display=swap');
* {
    font-family: 'Chilanka', cursive;
    color: white;
}

body {
    background-image: url("images/pnksc.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

p {
    font-size: 24px;
    padding: 10px 100px 10px;
}
.center {
    text-align: center;
}

.xlarge {
    font-size: xx-large;
}

/* navigation bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100;

}
li {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 24px;
    
}
li :hover{
    background-color: rgb(18, 190, 162);
    color:white;
}

/* titles */
h1 {
    color:rgb(18, 190, 162);
    font-size: 50px;

}
h2 {
    color:rgb(19, 190, 162);
    font-size: 40px;
}

h4 {
    color: rgb(221, 56, 84);
    font-size: 25px;
}

.meMeBigBoy {
    font-size: 30px;
}

#list {
    padding: 10px 100px 10px;
}