@import url('https://fonts.googleapis.com/css?family=Chilanka&display=swap');
* {
    font-family: 'Chilanka', cursive;
}
.xlarge {
    font-size: xx-large
}



body {
    background-image: url("images/gif2.gif");
    background-color: azure;
    background-repeat: no-repeat;
    background-size: cover;
    height: 707px;
}
.center {
    text-align: center;
}
